/* Global Var */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
 body {
    font-family: Helvetica, sans-serif, Arial;
    color: #212529;
}

/* Header */
header {
   padding: 0 10px;
   display: flex;
   flex-wrap: wrap;
}
header .imglogo {
    height: 70px;
    width: 260px;
}
header .socmedia {
    padding-top: 30px;
    padding-right: 30px;
    right: 0;
    position: absolute;
}
header .socmedia .fbimglogo{
    height: 25px;
}
/* Nav */
nav {
    width: 100%;
    /*background-color: #2368a2;*/
    position: sticky;
    top: 0;
    z-index: 99;
}
nav .icon {
    display: none;
}
nav ul {
    display: flex;
    padding: 0 20px;
    float: right;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    color: #f3f7fa;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
}
nav ul li a:hover {
    background-color: #1a4971;
    color: #cad5de;
}
/* SECTION 1 */
section{
    width: 100%;
    height: 100vh;
}
section.section-1{
    background-image: url(img/jasmin-ne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /*Parallax*/
}
section.section-1 .section-1-content{
    text-align: right;
    padding-top: 130px;
}
section.section-1 .section-1-content h1{
    font-size: 4em;
    font-family: sans-serif;
    color: rgb(39, 35, 29);
    padding-right: 50px;
}
section.section-1 .section-1-content p{
    font-family: sans-serif;
    color: rgb(56, 55, 53);
    padding-right: 50px;
    font-style: italic;
}
section.section-1 .section-1-content a.btn{
    display: inline-block;
    margin-right: 50px;
    margin-top: 30px;
    padding: 10px;
    width: 130px;
    color: #f3f7fa;
    background-color: #2368a2;
    border: 3px solid #f3f7fa;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2 ease-out;
}
section.section-1 .section-1-content a.btn:hover{
    background-color: #1a4971;
    color: #cad5de;
}
/* SECTION 2 */
section.section-2{
    background-color: #f3f7fa;
}
section.section-2 .section-2-content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
section.section-2 .section-2-content .sec2text{
    width: 40%;
    max-height: 80%;
}
section.section-2 .section-2-content .space{
    height: 30px;
}
section.section-2 .section-2-content h2{
    font-size: 1.9em;
    text-align: left;
    margin-left: 40px;
}
section.section-2 .section-2-content p{
    font-size: 0.95em;
    margin-left: 40px;
    padding-top: 30px;
    width: 75%;
    text-align: justify;
    font-style: italic;
}
section.section-2 .section-2-content .bg {
    background-color: #1a4971;
    color: #cad5de;
    padding-bottom: 30px;
}
section.section-2 .section-2-content .sec2imgcont{
    margin-left: 40px;
    max-width: 60%;
    max-height: 80%;
}
section.section-2 .section-2-content .sec2imgcont i {
    z-index: 10;
    font-size: 30px;
    color: #f3f7fa;
    opacity: 0.8;
    cursor: pointer;
    padding: 20px;
    position: absolute;
}
section.section-2 .section-2-content .sec2imgcont i:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
section.section-2 .section-2-content .sec2imgcont .prev{
    top: 50%;
}
section.section-2 .section-2-content .sec2imgcont .next{
    top: 50%;
    left: 50%;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
section.section-2 .section-2-content .sec2imgcont .sec2slides{
    display:none;
}
section.section-2 .section-2-content .sec2imgcont .sec2slides img{
    width: 700px;
    height: 500px;
}
/* SECTION 3 */
section.section-3{
    background-color: #1a4971;
    color: #cad5de;
}
section.section-3 h2{
    font-size: 2em;
    text-align: center;
    padding-top: 120px;
    width: 100%;
}
section.section-3 .section-3-content{
    text-align: center;
    width: 80%;
    height: 100%;
    margin: auto;
}
section.section-3 .section-3-content ul{
    display: flex;
    flex-wrap: wrap;
}
section.section-3 .section-3-content ul li{
    list-style: none;
    margin: auto;
    padding-top: 3%;
}
section.section-3 .section-3-content ul li img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
section.section-3 .section-3-content ul li figcaption {
    margin-top: 30px;
}
section.section-3 .section-3-content ul li figcaption a {
    padding: 10px;
    color: #f3f7fa;
    background-color: #2368a2;
    text-decoration: none;
    font-style: italic;
}
section.section-3 .section-3-content ul li figcaption p {
    text-decoration: none;
    font-style: italic;
    padding-top: 15px;
    padding-left: 5px;
    width: 60%;
    margin: auto;
}
/* SECTION 4 */
section.section-4{
    background-image: url(img/oleg-magni.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /*Parallax*/
}
section.section-4 .section-4-content{
    display: flex;
    width:100%;
    height: 100%;
}
section.section-4 .section-4-content .push{
    width: 50%;
}
section.section-4 .section-4-content .sec4-textcont{
    width: 50%;
    padding-left: 25%;
}
section.section-4 .section-4-content .sec4-textcont .sec4-textbox{
    padding: 90px 15px 15px 15px;
    width: 75%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #f3f7fa;
}
section.section-4 .section-4-content .sec4-textcont .sec4-textbox h2{
    padding-top: 20px;
    font-size: 1.9em;
    text-align: left;
    margin-left: 30px;
}
section.section-4 .section-4-content .sec4-textcont .sec4-textbox p{
    font-size: 0.95em;
    margin-left: 30px;
    padding-top: 20px;
    width: 85%;
    font-style: italic;
}
section.section-4 .section-4-content .sec4-textcont .sec4-textbox a.btn{
    display: inline-block;
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 30px;
    padding: 10px;
    width: 130px;
    color: #f3f7fa;
    background-color: #2368a2;
    border: 3px solid #f3f7fa;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: 0.2s ease-out, 0.2 ease-out;
}
section.section-4 .section-4-content .sec4-textcont .sec4-textbox a.btn:hover{
    background-color: #1a4971;
    color: #cad5de;
}
/* Footer */
footer {
    background-color: #2368a2;
    text-align: center;
    height: 15vh;
}
footer p{
    padding-top: 15px;
    font-size: 0.75em;
}
footer a i{
    text-decoration: none;
    font-size: 1.3em;
    padding-top: 15px;
    color: #f3f7fa;
}
footer a{
    text-decoration: none;
    color: #f3f7fa;
}
/* GoToTop Button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #2368a2; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 12px;
    height: 40px;
    width: 40px; 
    font-size: 25px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #1a4971;
    color: #cad5de;
  }

  /* RESPONSIVE Queries */
  @media screen and (max-width: 1250px) {
    section.section-2 .section-2-content{
        height: 100%;
        padding-top: 50px;
    }
    section.section-2 .section-2-content .sec2imgcont i{
        display: none;
    }
    section.section-2 .section-2-content .sec2imgcont .sec2slides img{
        max-width: 450px;
        max-height: 300px;
    }
    section.section-2 .section-2-content .space{
        height: 15px;
    }
    section.section-2 .section-2-content h2{
        font-size: 1.9em;
        text-align: left;
        margin-left: 40px;
    }
    section.section-2 .section-2-content p{
        font-size: 0.95em;
        margin-left: 40px;
        padding-top: 20px;
        width: 75%;
        text-align: justify;
        font-style: italic;
    }
    #myBtn {
        bottom: 20px; 
        right: 30px;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    section.section-1 {
        height: 200%;
    }
    section.section-3 {
        height: 200%;
    }
    section.section-4 {
        height: 200%;
    }
    section.section-3 .section-3-content{
        height: 200%;
        padding-top: 0px;
    }
    section.section-3 .section-3-content{
        padding-bottom: 40px;
    }
    section.section-4 .section-4-content .sec4-textcont {
        font-size: 0.95em;
        width: 75%;
        text-align: justify;
        font-style: italic;
        padding-left: 15%;
    }
  }
  @media screen and (max-width: 1000px) {
    section.section-1 .section-1-content{
        padding-bottom: 60px;
    }
    section.section-2 .section-2-content {
        height: 100%;
        width: 100%;
    }
    section.section-2 .section-2-content .sec2imgcont {
        display: none;
    } 
    section.section-2 .section-2-content .sec2text {
        margin: auto;
        margin-top: 1%;
        width: 60%;
    }
    #myBtn {
        bottom: 20px; 
        right: 30px;
        padding-top: 6px;
        padding-bottom: 10px;
        padding-left: 12px;
    }
    section.section-3 .section-3-content ul{
        display: inline-block;
    }
    section.section-4 {
        height: 100%;
    }
    section.section-4 .section-4-content .sec4-textcont {
        width: 80%;
    }
    section.section-4 .section-4-content .sec4-textcont .sec4-textbox {
        padding: 30px 15px 15px 15px;;
    }
  }
  @media screen and (max-width: 700px){
    nav ul li a {display: none;}
    nav ul li a.icon {
        right: 0;
        display: block;
    }
    nav.topnav.responsive {
        background-color: #2368a2;
        height: 160px;
    }
    nav.topnav.responsive ul {
        float: none;
        display: block;
        height: 100px;
    }
    nav.topnav.responsive a {
        display: block;
        text-align: left;
    }
    nav.topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 20px;
    }
  }
  @media screen and (max-width: 600px){ 
    section.section-1 .section-1-content{
        padding-top: 100px;
        padding-bottom: 70px;
    }
    section.section-1 .section-1-content h1 {
        font-size: 2.7em;
      }
    h2 {
          font-size: 0.9em;
    }
    section.section-2 .section-2-content .sec2text {
        width: 100%;
    }
    section.section-4 .section-4-content {
        height: 200%;
    }
    section.section-4 .section-4-content .push{
        display: none;
    }
    section.section-4 .section-4-content .sec4-textcont {
        width: 100%;
        padding-top: 70px;
        padding-bottom: 30px;
    }
    section.section-4 .section-4-content .sec4-textcont .sec4-textbox {
        width: 90%;
    }
  }
